@import 'helpers/mixins.scss';
@import 'helpers/colours.scss';
@import 'helpers/variables.scss';
@import 'story.scss';
@import 'task.scss';


* {
	box-sizing: border-box;
}

button {
	@include x-rem(font-size, 14px);

	-webkit-appearance: none;
	appearance: none;
	border: 0;
	box-shadow: none;
	background-color: #F39C12;
	color: #fff;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;

	&:hover {
		background-color: #F27935;
	}
}

body {
	background-color: #34495E;
	font-family: Helvetica, Arial, sans-serif;
	
	@include medium-up {
		background-color: red;
	}

	@include large-up {
		background-color: green;
	}

	.underlay,
	.overlay {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity, 0.4s, linear; 
		transition: opacity, 0.4s, linear;
	
		.overlay-active & {
			position: fixed;
			visibility: visible;
			opacity: 0.6;
		}
	}
	
	.underlay {
		.overlay-active & {
			top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-color: black;
		 }
	}

	.overlay {
		.overlay-active & {
		    display: block;
		    z-index: 9;
		    width: 50%;
		    height: 200px;
		    background-color: white;
		    margin: auto;
		    top: 20%;
		    left: 25%;
		    opacity: 1;
		}

		.overlay-content {
			background-color: #336E7B;
			color: #fff;
			padding: 10px;

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			.natural-language-input {
				&:after {
					content: "";
					display: table;
					clear: both;
				}
			
				label {
					float: left;
					clear: left;
					width: 20%;
					padding: 10px 10px 10px 0;
					margin: 4px 0;
				}

				input {
					@include x-rem(font-size, 14px);

					padding: 10px;
					width: 80%;
					float: right;
					-webkit-appearance: none;
					appearance: none;
					background-color: #C5EFF7;
					color: #414141;
					border: 0;
					margin: 4px 0;
				}
			}

			.save-button {
				clear: both;
				display: block;
				width: 120px;
				margin: 10px auto;
			}
		}
	}

	.board-title {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		margin: 60px auto 30px;
	}

	.board {
		background-color: #fff;
		width: 80%;
		margin: auto;
		padding: 10px;
	}
}