@import 'helpers/mixins.scss';
@import 'helpers/colours.scss';
@import 'helpers/variables.scss';
@import 'story.scss';
@import 'task.scss';

* {
	box-sizing: border-box;
}

button {
	@include x-rem(font-size, 14px);

	-webkit-appearance: none;
	appearance: none;
	border: 0;
	box-shadow: none;
	background-color: $amber-1;
	color: $white-1;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;

	&:hover {
		background-color: $amber-2;
	}
}

body {
	background-color: $aqua-1;
	font-family: Helvetica, Arial, sans-serif;

	.underlay,
	.overlay {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity, 0.4s, linear; 
		transition: opacity, 0.4s, linear;
	
		.overlay-active & {
			position: fixed;
			visibility: visible;
			opacity: 0.6;
		}
	}
	
	.underlay {
		.overlay-active & {
			top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-color: $black-1;
		 }
	}

	.overlay {
		.overlay-active & {
		    display: block;
		    z-index: 9;
		    width: 90%;
		    height: 200px;
		    background-color: $white-1;
		    margin: auto;
		    top: 20%;
		    left: 5%;
		    opacity: 1;

		    @include large-up {
			    width: 50%;
			    top: 20%;
			    left: 25%;
		    }
		}

		.overlay-content {
			background-color: $aqua-2;
			color: $white-1;
			padding: 10px;

			&:after {
				content: "";
				display: table;
				clear: both;
			}
			
			label {
				float: left;
				clear: left;
				width: 20%;
				padding: 10px 10px 10px 0;
				margin: 4px 0;
			}

			input,
			select {
				@include x-rem(font-size, $standard-font-size);

				padding: 10px;
				width: 80%;
				float: right;
				-webkit-appearance: none;
				appearance: none;
				background-color: $aqua-3;
				color: $grey-1;
				border: 0;
				margin: 4px 0;
			}

			.natural-language-input {
				&:after {
					content: "";
					display: table;
					clear: both;
				}
			
				label {
					float: left;
					clear: left;
					width: 20%;
					padding: 10px 10px 10px 0;
					margin: 4px 0;
				}

				input {
					@include x-rem(font-size, $standard-font-size);

					padding: 10px;
					width: 80%;
					float: right;
					-webkit-appearance: none;
					appearance: none;
					background-color: $aqua-3;
					color: $grey-1;
					border: 0;
					margin: 4px 0;
				}
			}

			.save-button {
				clear: both;
				display: block;
				width: 120px;
				margin: 10px auto;
			}
		}
	}

	.board-title {
		text-align: center;
		color: $white-1;
		text-transform: uppercase;
		margin: 60px auto 30px;
	}

	.board {
		background-color: $white-1;
		width: 100%;
		margin: auto;
		padding: 10px;

		@include medium-up {
			width: 80%;
			margin: auto;
		}
	}
}