* {
	box-sizing: border-box;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	box-shadow: none;
	background-color: #F39C12;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	padding: 6px;
	cursor: pointer;

	&:hover {
		background-color: #F27935;
	}
}

body {
	background-color: #34495E;
	font-family: Helvetica, Arial, sans-serif;
	
	.underlay,
	.overlay {
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity, 0.4s, linear; 
		transition: opacity, 0.4s, linear;
	
		.overlay-active & {
			position: fixed;
			visibility: visible;
			opacity: 0.6;
		}
	}
	
	.underlay {
		.overlay-active & {
			top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-color: black;
		 }
	}

	.overlay {
		.overlay-active & {
		    display: block;
		    z-index: 9;
		    width: 40%;
		    height: 200px;
		    background-color: white;
		    margin: auto;
		    top: 20%;
		    left: 30%;
		    opacity: 1;
		}
	}
	
	.board-title {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
	}

	.board {
		background-color: #fff;
		width: 80%;
		margin: auto;
		padding: 10px;

		.story-row {
			color: #22313F;
			background-color: #f5f5f5;
			padding: 10px;
			display: inline-block;
			width: 100%;

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			&:nth-child(odd) {
				background-color: #cfe0e2;

				.task-card {
					background-color: #52B3D9;
				}
			}

			table {
				width: 75%;
				float: right;
			}
			
			tr {
				vertical-align: top;
			}

			td {
				width: 33.3%;
			}
		}

		.story-card {
			width: 25%;
			padding: 10px;
			display: inline-block;

			h2 {
				font-size: 18px; //should use x-rem mixin
				font-weight: 400;
			}
		}
		

		.task-card {
			background-color: #59ABE3;
			color: #fff;
			padding: 10px;
			border-radius: 5px;
			display: block;
    		margin: 10px;
		}
	}

}