@import 'helpers/mixins.scss';
@import 'helpers/colours.scss';
@import 'helpers/variables.scss';

.story-row {
	color: $aqua-4;
	background-color: $grey-2;
	padding: 10px;
	display: inline-block;
	width: 100%;

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	&:nth-child(odd) {
		background-color: $aqua-5;

		.task-card {
			background-color: $aqua-6;
		}
	}

	.tasks {
		width: 100%;
		display: block;
		
		@include large-up {
			width: 75%;
			float: right;
		}
	
		tr {
			vertical-align: top;
		}

		td,
		th {
			width: 33.3%;
		}

		th {
			@include x-rem(font-size, $standard-font-size);
			
			text-transform: uppercase;
			font-weight: $standard-font-weight;
			color: $aqua-7;
		}
	}
	
	.story-card {
		width: 100%;
		padding: 10px;
		display: block;
		
		@include large-up {
			width: 25%;
			display: inline-block;
			float: left;
		}

		.story-name {
			@include x-rem(font-size, $medium-font-size); //should use x-rem mixin
			
			font-weight: $standard-font-weight;
		}
	}
}