@import 'helpers/mixins.scss';
@import 'helpers/colours.scss';
@import 'helpers/variables.scss';

.task-card {
	background-color: $aqua-8;
	color: $white-1;
	padding: 10px;
	border-radius: 5px;
	display: block;
	margin: 10px;

	.task-description {
		@include x-rem(font-size, $small-font-size);
	}
}