<h3>New story</h3>
<form>
	<label for="priority">Priority</label>
	<select id="priority" name="priority">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>

	<label for="persona">As a</label>
	<input type="text" name="persona" id="persona" placeholder="persona" />

	<label for="feature">I want to</label>
	<input type="text" name="feature" id="feature" placeholder="feature" />

	<label for="justification">So that I can</label>
	<input type="text" name="justification" id="justification" placeholder="justification" />
</form>