<h3>Edit story</h3>
<form>
	<label for="priority">Priority</label>
	<select id="priority" name="priority" selected="{{priority}}">
		<option value="1" {{#if isp1}}selected="selected"{{/if}}>1</option>
		<option value="2" {{#if isp2}}selected="selected"{{/if}}>2</option>
		<option value="3" {{#if isp3}}selected="selected"{{/if}}>3</option>
	</select>

	<label for="persona">As a</label>
	<input type="text" name="persona" id="persona" value="{{persona}}" />

	<label for="feature">I want to</label>
	<input type="text" name="feature" id="feature" value="{{feature}}" />

	<label for="justification">So that I can</label>
	<input type="text" name="justification" id="justification" value="{{justification}}"/>

	<button type="button" class="save-button">Save</button>
</form>