<h3>Edit story</h3>
<form>

	<label for="persona">As a</label>
	<input type="text" name="persona" id="persona" value="{{persona}}" />

	<label for="feature">I want to</label>
	<input type="text" name="feature" id="feature" value="{{feature}}" />

	<label for="justification">So that I can</label>
	<input type="text" name="justification" id="justification" value="{{justification}}"/>

	<button type="button" class="save-button">Save</button>
</form>