<h3>{{#if priority}}Edit{{else}}New{{/if}} task</h3>
<form>
	<label for="priority">Priority</label>
	<select id="priority" name="priority" selected="{{priority}}">
		{{#select priority}}
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		{{/select}}
	</select>

	<label for="status">Status</label>
	<select id="status" name="status" selected="{{status}}">
		{{#select status}}
			<option value="to do">To do</option>
			<option value="in progress">In progress</option>
			<option value="done">Done</option>
		{{/select}}
	</select>

	<label for="description">Description</label>
	<input type="text" name="description" id="description" value="{{description}}" />

	<button type="button" class="save-button">Save</button>
</form>